body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.playlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.playlist-grid {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.playlist h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.playlist p {
  margin: 8px 0;
  color: #555;
}

.playlist button {
  margin-top: 10px;
  font-style: italic;
  color: #777;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.playlist button:hover {
  text-decoration: underline;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video-grid {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.video h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.video p {
  margin: 8px 0;
  color: #555;
}

.video video {
  width: 100%;
  max-height: 400px;
  margin-top: 10px;
}

.video button {
  margin-top: 10px;
  font-style: italic;
  color: #777;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.video button:hover {
  text-decoration: underline;
}
